.varanasi{
    margin: auto;
    text-align: center;
    font-size: 24px;
    padding-top: 10px;
}
.varanasi h1{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}
.varanasi p{
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0px 16% 0px;
    text-align: start;
}

.image img{
    width: 50%;
    margin: auto;
    display: block;
}

@media (max-width: 600px) {
    .image img {
        width: 100%;
        padding: 5px;
    }
}